
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 12px;
    background: white;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background: url(images/header3.png) no-repeat center center;
  }
  
  .header h1 {
    font-size: 50px;
    font-family: "itim";
    
  }
  .itim-regular {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #FB6F92;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #FFC2D1;
    color: #FB6F92;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #ffffff;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #FB6F92;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color:#FFC2D1 ;
    padding: 20px;
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 45px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #FB6F92;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  #logo{
    position: fixed;
    top: 20px;
    left: 20px;
    border-left: #FB6F92 2px;
  }
  .fakeimg .rightcolumn{
    width: 150px;
  }
  .merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  p, blockquote, h3, small, li, h5{
    font-family: "Noto Sans";
  }
.noto-sans{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
h2{
  font-family: "Glass Antiqua";
}
.glass-antiqua-regular {
  font-family: "Glass Antiqua", cursive;
  font-weight: 400;
  font-style: normal;
}
